<div class="container">
    <div class="row">
        <h3 class="text-center">Welcome Admin</h3>
        <div class="col-10"></div>
        <div class="col-2 mt-5">
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </div>
    </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center mb-5">User Management</h2>
      <img class="image mx-auto d-block mb-5" src="assets/user-management-meta.jpg" alt="" style="height: 300px;">
      <button class="btn btn-primary" routerLink="/user">User Management</button>
    </div>
    <div class="col-md-6">
      <h2 class="text-center mb-5">Content Moderation</h2>
      <img class="image mx-auto d-block mb-5" src="assets/cont-mod.jpg" alt="" style="height: 300px; ">
      <button class="btn btn-primary" routerLink="/content">Content Moderation</button>
    </div>
  </div>
</div>