.col-md-6 {
    position: relative;
    display: inline-block;
}
  
.image {
    display: block;
    width: 100%;
}
  
button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
  
.col-md-6:hover button {
    display: block;
    transition: .5s ease;
}
.image:hover{
    opacity: 75%;
    transition: .5s ease;
}
